html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

.header {
    display: flex;
    box-sizing: border-box;
    max-width: 1300px;
    width: 100%;
    min-height: 80px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #213B7E;
}

.site-logo {
    width: 47px;
    height: 47px;
    animation: flash 1.5s linear infinite alternate;
}

.site-menu {
    display: flex;
    align-self: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-menu > li {
    display: flex;
}

.menu-link {
    display: flex;
    align-items: center;
    padding: 0 18px;
    background-color: #213B7E;
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    text-decoration-line: underline;
}

.menu-link:hover {
    background-color: #FFF;
    color:#213B7E;
    text-decoration: none;
    transition: .5s linear;
    transition-property: background-color;
    animation: flash 1.25s linear infinite alternate
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    min-height: 50px;
    background-color:#EA5D21;
    color: #FFF;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.active-link {
    color: #213B7E;
    background-color: #FFF;
    text-decoration: none;
}

/* Popup */

.login-popup {
    display: none;
    position: absolute;
    z-index: 2;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -80%);
    box-sizing: border-box;
    min-height: 418px;
    background: #FFF;
    background-color: #FFF;
    border: 1px solid #213B7E;
    max-width: 500px;
    width: 100%;
    padding: 26px 28px 56px;
}

.login-head {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    text-align: center;
    margin: 16px 0 36px;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form > input {
   width: 100%;
   max-width: 415px;
   min-height: 55px;
   margin-bottom: 56px;
   background: #FFFFFF;
   border: 1px solid #808080;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   color: #808080;
   padding: 0 14px;
}

.popup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 153px;
    min-height: 50px;
    background: #EA6113;
    color: #FFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}

.show-popup {
    display: block;
}

/* Main */

/* Main page */

.main {
    max-width: 911px;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}

.classroom {
    max-height: 316px;
    height: 100%;
    max-width: 523px;
    width: 100%;
}

.maintext {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000
}

.suptext {
    /* max-width: 634px; */
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000
}

em {
    color: #CF5510;
}

.learning {
    position: absolute;
    bottom: 44%;
    right: 20%;
    animation: flash 1.5s linear infinite alternate;
}

/* Students page */

.main-2page {
    max-width: 1242px;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}

.maintext-2page {
    margin: 36px 20px 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    color: #000
}

.students {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10px;
}

.student {
    padding: 0 10px;
}

.student-photo {
    max-width: 200px;
    width: 100%;
    max-height: 270px;
    height: 100%;
}

.student-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin: 8px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.newbie {
    position: relative;
    top: -325px;
    left: 115px;
    animation: flash 1.5s linear infinite alternate;
}

/* About page */

.main-3page {
    max-width: 820px;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}

.maintext-3page {
    margin: 33px 0px 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.video {
    max-width: 820px;
    width: 100%;
    max-height: 549.33px;
    height: 100%;
    padding: 0 0 15px;
}

/* Contacts page */

.main-4page {
    max-width: 1285px;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}

.maintext-4page {
    padding: 0 15%;
    margin: 33px 0px 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.map {
    max-width: 1268px;
    width: 100%;
    max-height: 370px;
    height: 100%;
}

.subtitle {
    padding: 0 15%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.suptext-4page {
    padding: 0 15%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

/* Im page */

.education {
    list-style-image: url(../img/logoX.png);
}

.info {
    max-width: 512px;
    width: 100%;
    margin: 0 auto;
}

.suptext-0page {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000
}

.abot-im {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Im-photo {
    display: block;
    max-width: 656px;
    max-height: 458px;
    margin: auto;
    padding: 1%;
}

.Im-photo-2 {
    display: none;
    max-width: 716px;
    max-height: 518px;
    margin: auto;
    padding: 1%;
}

.refer {
    font-style: italic;
    text-decoration: none;
    transition: .4s linear;
    transition-property: color;
    color: #EA5D21;
}
.refer:visited { color: #213B7E; }
.refer:hover {
    color: #EA5D21;
    animation: flash 1s linear infinite alternate
}

/* Footer */

.footer {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    width: 100%;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #213B7E;
    color: rgba(255, 255, 255, 0.5);
}

.copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
}

.innopolis-link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
}

/* Media */

@media(max-width: 1107px) {
    .student {
        padding: 10px 10px;
    }
}

@media(max-width: 483px) {
    .student:nth-child(-n + 5) {
        padding: 20px;
        margin: 0 auto;
    }
}

@media (max-width: 930px) {
    .maintext {
        padding: 0 2%;
    }

    .suptext {
        padding: 0 2%;
        width: auto;
    }

    h2 {
        padding: 0 2%;
    }

    .learning {
        display: none;
        
    }
}

@media (max-width: 905px) {
    .info {
        max-width: none;
    }
}

@media (max-width: 850px) {
    /* Main about */
    .maintext-3page {
        padding: 0 2%;
    }
}

@media (max-width: 705px) {
   /* Header */
    .site-menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu-link {
        font-size: 18px;
    }

    .site-logo {
        width: 40px;
        height: 40px;
    }

    .login-button {
        font-size: 16px;
        padding: 0 25px;
        width: auto;
        min-height: 45px;
    }
    /* Main */
    .maintext {
        font-size: 26px;
        line-height: 30px;
    }

    .suptext{
        font-size: 16px;
        line-height: 19px;
    }

    /* Main about*/
    .maintext-3page {
        font-size: 26px;
        line-height: 30px;
    }

    /* Main contacts */
    .maintext-4page {
        font-size: 26px;
        line-height: 30px;
    }

    .subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .suptext-4page {
        font-size: 16px;
        line-height: 19px;
    }

    /* Footer */
    .copyright {
        font-size: 18px;
    }

    .innopolis-link {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    /* Header */
    .site-menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu-link {
        font-size: 16px;
    }

    .site-logo {
        width: 35px;
        height: 35px;
    }

    .login-button {
        font-size: 14px;
        padding: 0 20px;
        width: auto;
        min-height: 40px;
    }
    /* Main */
    .maintext {
        font-size: 22px;
        line-height: 25px;
    }

    .suptext{
        font-size: 14px;
        line-height: 18px;
    }

/* Main contacts */
    .maintext-4page {
        font-size: 22px;
        line-height: 25px;
    }

    .subtitle {
        font-size: 18px;
        line-height: 20px;
    }

    .suptext-4page {
        font-size: 12px;
        line-height: 18px;
    }
    

    /* Footer */
    .copyright {
        font-size: 16px;
    }

    .innopolis-link {
        font-size: 16px;
    }
}

@media (max-width: 273px) {
    .student:nth-child(-n + 5) {
        padding: 0px;
        margin: 0 auto;
    }

    .student-name {
        text-align: center;
    }
}

/* Animation */
.pulse {
    animation: pulse 1s infinite linear alternate;
  }
  @keyframes pulse {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
  }

  .hithere:hover {
    animation: hithere 2.5s linear infinite;
  }
  @keyframes hithere {
    30% { transform: scale(1); }
    40%, 60% { transform: rotate(-20deg) scale(1); }
    50% { transform: rotate(20deg) scale(1); }
    70% { transform: rotate(0deg) scale(1); }
    100% { transform: scale(1); }
  }

  .flash {
    animation: flash 1.5s linear infinite alternate;
  }
  @keyframes flash {
      from { opacity: 1; }	
      to { opacity: 0; }
  }